* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    gap: 40px;
}

.nav-bar a {
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    transition: font-size 0.3s ease;
    color:black;
}

.nav-bar a:hover {
    font-size: 25px;
}


#logo {
    position: absolute;
    left: 0;
}



body {
    height: 100vh; /* Cover full viewport height */
    margin: 0; /* Remove default margin */
    background: #FFFFFF; /* Fallback color for older browsers */
    background: -moz-linear-gradient(135deg, #FFFFFF 0%, #000000 100%); /* Firefox */
    background: -webkit-linear-gradient(135deg, #FFFFFF 0%, #000000 100%); /* Chrome, Safari */
    background: linear-gradient(135deg, #FFFFFF 0%, #000000 100%); /* Standard syntax */
    background-size: cover; /* Cover the entire body area */
    background-repeat: no-repeat; /* Prevent background repeating */
}
