* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    gap: 40px;
}





.nav-bar a {
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    transition: font-size 0.3s ease;
    color:black;
}

.nav-bar #a {
    margin-top: 0px;
}

.nav-bar a:hover {
    font-size: 25px;
}

.nav-bar #a {
    margin-bottom:50px;
    position: absolute;
    left: 0;
    transition: width 0.3s ease;
}

#logo {
    position: absolute;
    left: 0;
    transition: width 0.3s ease;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    gap: 100px;
}

#title {
    align-items: center;
    justify-content: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 70px;
}

#pg {
        font-size: 24px;
        width: 400px;
        text-align: center;
}

.nav-bar #logo:hover {
    width:80px;
}

#carti {
    width:450px;
    border: 1px solid black;
    border-radius: 50px;
    margin-left: 40px;
}

#option-tag {
    margin-top: 40px;
    font-family:'Gloria Hallelujah', cursive;
    font-size: 30px;
    text-align: center;
}

.recipes {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.recipe-images {
    width: auto;
    height: 200px;
    transition: height 0.3s ease;


}

.recipe-images:hover {
    width: auto;
    height: 250px;
}


body {
    height: 100vh; /* Cover full viewport height */
margin: 0; /* Remove default margin */
background: #FFFFFF; /* Fallback color for older browsers */
background: -moz-linear-gradient(90deg, #FFFFFF 0%, #000000 100%); /* Firefox */
background: -webkit-linear-gradient(90deg, #FFFFFF 0%, #000000 100%); /* Chrome, Safari */
background: linear-gradient(90deg, #FFFFFF 0%, #000000 100%); /* Standard syntax */
background-size: 100% 100%; /* Adjust background size */
background-repeat: repeat; /* Make the background repeat */
}
